#blogHR {
    height: 4px;
    background-color: #dbdbdb;
    border: none;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.Blogtitle {
    background-color: #dbdbdb;
    border-radius: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 50px;
}

.semiHeaderBlog {
    margin-left: 80px;
}

/*text-area*/

.blog-text {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img-part {
    display: grid;
    grid-template-columns: 0.5r 1fr;
    grid-template-rows: auto;
    gap: 20px;
    align-items: flex-start;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
}

#imgtext-blog {
    grid-column: 1;
    grid-row: 1;
}

#littletext-blog {
    grid-column: 2;
    grid-row: 1;
    padding-top: 30px;
}
