#Politicas-header {
    margin-left: 80px;
    padding-top: 20px;
}

#Politicas-text {
    margin-left: 80px;
    margin-right: 80px;
}

#terminos-header {
    margin-left: 80px;
    padding-top: 20px;
}

#terminos-text {
    margin-left: 80px;
    margin-right: 80px;
}

.terminos-area {
    padding-bottom: 40px;
}