<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explora una impresionante colección de arte digital, donde creatividad e innovación se encuentran. Descubre obras de artistas digitales de todo el mundo.">
    <meta name="keywords" content="arte digital, galería de arte, arte en línea, artistas digitales, arte contemporáneo, exposición de arte digital">
    <meta name="author" content="Jose Dilone 21-0838">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img\icon.png">    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Justa.</title>
</head>
<body>

    <!--Navbar-->
    <header>
        <nav class="navbar">
            <div class="logo">
              <img src="img\logo.png" alt="Hirono">
            </div>
            <ul class="nav-items">
              <li><a href="#Form-area">Iniciar sesion</a></li>
              <li><a href="#Form-area">Registrarse</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="politicas.html">Politicas</a></li>
            </ul>
          </nav>
    </header>
      
    <!--Hero-->
    <div id="Hero" class="container">

        <div class="item1">
            <img src="img/hero.png" id="hero-img" alt="Hirono">
        </div>

        <div class="item2">
            <h1>EL ARTE TAMBIEN ES DIGITAL.</h1>
            <p>Explora, colecciona y vive el arte de una forma completamente nueva. Únete a [Nombre de la Galería] y sé parte de una comunidad global de amantes del arte digital. Regístrate ahora para descubrir obras exclusivas, apoyar a artistas emergentes y llevar el arte de vanguardia directamente a tu pantalla. ¡No solo lo mires, hazlo tuyo!

              ¡Regístrate hoy y accede a una galería sin límites!
              
              </p>
            <div id="Buttons-hero">
                <button id="Registrarse-hero" style="color: white;">Registrarse</button>
                <button id="IniciarSesion-hero">Iniciar Sesion</button>
            </div>
        </div>
    </div>

    <!--Category Carousel-->
    <div id="Categories">
        <hr id="firstHR">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                
                <div class="carousel-item active">
                
                    <ul class="Category-items">
                        <li><a href="#">Urbanismo</a></li>
                        <li><a href="#">3D desing</a></li>
                        <li><a href="#">2D desing</a></li>
                        <li><a href="#">Dark</a></li>
                    </ul>              
                </div>
                
                <div class="carousel-item">
                    <ul class="Category-items">
                        <li><a href="#">Streetwear</a></li>
                        <li><a href="#">Sketches</a></li>
                        <li><a href="#">Renders</a></li>
                        <li><a href="#">Animacion</a></li>
                    </ul>         
                </div>

                <div class="carousel-item">
                    <ul class="Category-items">
                        <li><a href="#">Modelado</a></li>
                        <li><a href="#">Industrial desing</a></li>
                        <li><a href="#">Unrealist</a></li>
                        <li><a href="#">Abstract</a></li>
                    </ul>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <hr id="secondHR">
    </div>

    <!--Cards-->
    <div id="Cards">

        <div class="card">
            <img src="img\create.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CREA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card">
            <img src="img\compartir.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">COMPARTE</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card">
            <img src="img\inspire.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">INSPIRA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <!--Banner-->
    <div id="Banner">
        <div class="item3">
            <h1>PROTEGE LA CREATIVIDAD</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sit nam eos aut culpa totam voluptate ipsa est possimus architecto dolor dignissimos, quaerat tenetur fuga ducimus rerum quasi. Porro, dolores.</p>
            <div id="Buttons-banner">
                <a id="More-Info" href="politicas.html">Mas Informacion</a>
            </div>
        </div>
        <div class="item4">
            <img src="img\creativity.png" id="hero-img" alt="Hirono">
        </div>
    </div>

    <!--Blogs-->
    <div id="Blogs">
        <h1>‘’READ SOME OF OUR BLOGS’’</h1>
        <div id="carouselBlogs" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div id="CardsBlog">

                    <div class="cardBlog">
                      <a href="blog3.html">
                        <img src="img\museum.jpg" class="card-img-top" alt="...">
                      </a>
                        <div class="card-body">
                          <h5 class="card-titleBlog">CREA</h5>
                          <p class="card-textBlog">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
            
                    <div class="cardBlog">
                      <a href="blog2.html">
                        <img src="img\digital.jpg" class="card-img-topBlog" alt="...">
                      </a>
                        <div class="card-body">
                          <h5 class="card-titleBlog">COMPARTE</h5>
                          <p class="card-textBlog">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
            

                </div>
              </div>
              <div class="carousel-item">


                <div id="CardsBlog">
                    <div class="cardBlog">
                        <img src="img\create.jpeg" class="card-img-topBlog" alt="...">
                        <div class="card-body">
                          <h5 class="card-titleBlog">CREA</h5>
                          <p class="card-textBlog">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
            
                    <div class="cardBlog">
                        <img src="img\share.jpeg" class="card-img-topBlog" alt="...">
                        <div class="card-body">
                          <h5 class="card-titleBlog">COMPARTE</h5>
                          <p class="card-textBlog">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
              </div>


              <div class="carousel-item">


                <div id="CardsBlog">
                    <div class="cardBlog">
                        <img src="img\create.jpeg" class="card-img-topBlog" alt="...">
                        <div class="card-body">
                          <h5 class="card-titleBlog">CREA</h5>
                          <p class="card-textBlog">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
            
                    <div class="cardBlog">
                        <img src="img\share.jpeg" class="card-img-topBlog" alt="...">
                        <div class="card-body">
                          <h5 class="card-titleBlog">COMPARTE</h5>
                          <p class="card-textBlog">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
            

                </div>


              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBlogs" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBlogs" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <!--Login y register-->
    <div id="Form-area">
        <div id="item5">
            <img src="img\share.jpeg" class="FormIMG" alt="...">
        </div>
        <form id="item6">
            <h1>REGISTRATE</h1>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="formbutton">Registrarse</button>
        </form>
    </div>

    <!--Footer-->
    <footer>
      <nav class="Footer-nav">
          <ul class="Footer-items">
            <li><a href="#Form-area">Iniciar sesion</a></li>
            <li><a href="#Form-area">Registrarse</a></li>
            <li><a href="blog.html">Blogs</a></li>
            <li><a href="politicas.html">Politicas</a></li>
          </ul>
      </nav>
      <div class="RRSS">
        <i class="bi bi-twitter-x"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-threads"></i>
      </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
